@import url('https://fonts.googleapis.com/css?family=Open+Sans|Bungee+Inline');

* {
  box-sizing: border-box;
}
html {
  background: #5ed45e;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', 'sans-serif';
}
.App {
  display: flex;

  color: #12A4D7;
  color: #fff;
  font-size: 16px;
  font-family: 'Helvetica';
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Bungee Inline', cursive;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
  }

  .phone-number-box {
    display: flex;
    height: 350px;
    width: 600px;
    padding: 25px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
  }
  p {
    margin-top: 0;
    font-size: 18px;
    color: #444;
  }
  input {
    height: 50px;
    padding: 15px;
    background: #fff;
    flex-basis: 1;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
  }
  input:focus {
    outline: none;
  }
}
