@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:900|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat');


* {
  box-sizing: border-box;
  margin: 0;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(rgba(2, 60, 2, 0.8), rgba(2, 60, 2, 0.8)),
              rgba(0,0,0,0.55) url(./marijuana.jpg) no-repeat center;
  background-size: cover;
}

.intro {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /*align-items: flex-end;*/
}
.App {
  display: flex;
  height: 100vh;
  font-family: 'Helvetica';
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Raleway';
    font-weight: 700;
  }

  .phone-number-box {
    display: flex;
    height: 350px;
    width: 600px;
    padding: 25px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
  }
  p {
    margin-top: 0;
    font-size: 25px;
    font-weight: 200;
    line-height: 1.5;
  }
  input {
    padding: 15px;
    background: rgba(255, 255, 255, 1);
    flex-basis: 1;
  }
  button:focus, input:focus {
    outline: none;
  }
  input, button {
    width: 45%;
    height: 60px;
    border-radius: 35px;
    border: 3px solid #5A4BF5;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  button {
    /*min-width: 150px;*/
    padding: 0 35px;
    cursor: pointer;
    border: none;
    background: #5A4BF5;
    color: #fff;
  }
  .phone-number {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .phone-preview {
    position: relative;
  }
  .phone-preview img {
    display: block;
    width: 300px;
  }
}
video {
  position: absolute;
  top: 13%;
  width: 259px;
  left: 21px;
}
